body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: lavenderblush;
}
th:hover{
    background-color: crimson;
}
.bd{
    background-color: darkgrey;
}
td:hover{
    background-color: forestgreen;
}
.head{
    background-color: lightsalmon;
}
table{
    border-collapse: separate;
    text-align: center;
}
.bd:nth-child(odd){
    background-color: cyan;
}
